ion-content {
  --background: url("/assets/BG/JP3.jpg") no-repeat center 100%;
}
* {
  font-family: "Itim", cursive;
  font-family: "Sriracha", cursive;
}
.toolbar {
  background: -webkit-linear-gradient(left, #d6eff5, #5298ad, #d6eff5);
}
.Kirby3 {
  width: 40%;
  margin-top: 120%;
}
ion-title {
  font-size: 25px;
}
