ion-tab-button{
    background-color:#BFE3EC;
}
ion-tab-button {
    background-color:#BFE3EC;
}
ion-tab-bar{
    background-color:#BFE3EC;
}
// ion-icon{
//     color: azure;
// }
// ion-label{
//     color: azure;
// }
