<ion-header>
  <ion-toolbar >
    <ion-title style="color: aliceblue;" class="toolbar">MEDIA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <iframe
      class="yt"
      width="365"
      height="275"
      src="https://www.youtube.com/embed/-GkKWq4L5fI"
    >
    </iframe>
    <h5 class="h">ประโยคภาษาญี่ปุ่นที่ใช้บ่อย! </h5>
  </ion-card>

  <ion-card>
    <iframe
      class="yt"
      width="365"
      height="275"
      src="https://www.youtube.com/embed/ETJD0mTGevQ"
    >
    </iframe>
    <h5 class="h">การแนะนำตัว ภาษาญี่ปุ่น </h5>
  </ion-card>
</ion-content>


